#employeePic {
	float: right;
	padding-right: 10px;
	padding-bottom: 16px;
}

#employeeDetails p {
	margin-top: 0px;
	margin-bottom: 8px;
}

#actionList {
	clear: both;
}
#employeeList li {
	direction:rtl;text-align:right;font:tahoma 100%;
}
#employeeList h4 {
	direction:rtl;text-align:right;font:tahoma 100%;
}
#employeeList li img {
	direction:rtl;text-align:right;float:right;
}
#header {
 background:white;
} 

.ui-icon-myapp-gps {
	background-image: url("images/gps.png");
}